.Product_details {
    /* background-color: aqua; */
    min-width: 60%;
  }
  .Product_details h1 {
    font-size: 25px;
    margin-left: 200px;
  }
  .Product_txt{
    margin: 1;
    width: 45ch;

  }
  /* .Product_Btn{
    display: flex;
    margin-left: 2050px;
  }
  .Product_insertBtn{
    display: flex;
    margin-left: "1100px";
  } */
  .Product_details__input {
    display: flex;
    margin: 15px;
  }
  .Product_details__input p {
    margin: 10px;
    margin-left: 70px;
    font-size: 17px;
    font-weight: 400;
    width: 20%;
  }
  .res_component {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 13px;
    padding: 0px 35px;
    
  }
  .img_delete{
    height: 100px;
    margin-left: 100px;
  }
  .form_frame{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 35px;
    margin: 15px;
    background-color: white;
  }
  