.product_component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 20px;
    padding: 0px 40px;
  }
  .product_btn{
    margin-top: 300;
    position: fixied;
  }